<settings>
<!-- uncomment the following once you have enough stuff locally cached to avoid boostrapping issues -->
<mirrors>
<mirror>
<id>nexus</id>
<mirrorOf>*</mirrorOf>
<url>sftp://maven@maven.dtg.cl.cam.ac.uk/mirror/</url>
</mirror>
</mirrors>
  <profiles>
    <profile>
      <id>repositories</id>
      <repositories>
        <repository>
          <id>dtg-repository</id>
          <url>sftp://maven@maven.dtg.cl.cam.ac.uk/mirror/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <servers>
  	<server>
	    <id>dtg-code</id>
	    <username>deployment</username>
	    <password>dtg-mvn-deploy</password>
	    <configuration>
	        <wagonProvider>httpclient</wagonProvider>
	        <httpConfiguration>
	            <put>
	                <params>
	                    <param>
	                        <name>http.authentication.preemptive</name>
	                        <value>%b,true</value>
	                    </param>
	                </params>
	            </put>
	        </httpConfiguration>
	    </configuration>
	</server>
  </servers>
  <activeProfiles>
    <activeProfile>repositories</activeProfile>
  </activeProfiles>
  <proxies>
  	<proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>localhost</host>
      <port>9000</port>
      <!--<username>proxyuser</username>
      <password>somepassword</password>-->
      <nonProxyHosts>urop2014.dtg.cl.cam.ac.uk</nonProxyHosts>
    </proxy>
  </proxies>
</settings>