target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
**/classes/
*.class
**/doc/
**/logs/
**/node_modules/
ETick/WebContent/.idea
ETick/WebContent/codemirror-4.4/
ETick/WebContent/ETick WebContent/
ETick/.classpath
ETick/.settings/org.eclipse.wst.common.component
