target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

**/WEB-INF/classes/
**/WEB-INF/lib/

*.class
*.jar
*.gz
**/doc/
**/logs/
**/node_modules/
ETick/WebContent/.idea
ETick/WebContent/codemirror-4.4/
ETick/WebContent/ETick WebContent/
.classpath
.settings

# Backup and working/swap files created by some editors (e.g. vim)
*~
.*.swp

# Bower components
ETick/WebContent/bower_components/

.DS_Store
