:host {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	overflow: auto;
	background: white;
	padding:30px 42px;
	outline: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
polyfill-next-selector { content: 'h2'; }
::content h2 {
	font-size: 1.4rem;
	font-weight: 200;
}
polyfill-next-selector { content: 'h2'; }
::content h3 {
	font-size: 1.2rem;
	font-weight: 200;
}

polyfill-next-selector { content: ':host .button'; }
::content .button {
	margin: 5px;
	background: #4285f4;
	color: #fff;
}

polyfill-next-selector { content: ':host .hidden'; }
::content .hidden {
	display: none;
}

#cancel {
	color: rgba(255, 0, 0, 0.7);
	border-radius: 20px;
	border: 0;
	position: absolute;
	top: 0px;
	right: 0px;
}