
paper-tabs {
	background-color: #2D91EC;
	color: #fff;
/*    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
*/
}

/* Ripple and bar colors */
polyfill-next-selector {shadow: 'paper-tab #ink';}
paper-tab::shadow #ink {
	color: #a7ffeb;
}
polyfill-next-selector {shadow: 'paper-tab #selectionBar';}
paper-tabs::shadow #selectionBar {
	background-color: #a7ffeb;
}

polyfill-next-selector {content: 'paper-tabs .tab-content';}
paper-tabs::content .tab-content {
    font-size: 100px;
}

#frame {
	display: block;
	width: 100%;
	border: none;
}

#frameContainer {
	width: 100%;
}

.hidden {
	display: none;
}
.groupName {
	font-size: 1.8rem;
	font-weight: 100;
	padding: 0 0 0 10px;
	margin-bottom: 3px;
}
h2 {
	font-size: 1rem;
	margin: 0;
}
.creator {
	font-size: 0.8rem;
	color: #808080;
	margin-top: 0;
	padding-left: 10px;
}
#infoContainer {
	background: #e0f7fa;
	width: 100%;
}
p {
	font-weight: 200;
	font-size: 1rem;
}