:host {
	display: block;
	width: 100%;
}

#personListContainer {
	width: 100%;
	max-height: calc(60px * {{rows}});
	overflow: auto;
}

h1 {
	font-size: 1.8rem;
	font-weight: 100;
	padding: 0 0 0 10px;
}

/* Styles for add member dialog. */
paper-dialog .subtitle {
	font-weight: 200;
	font-size: 1.2rem;
}

paper-dialog::shadow h1 {
	font-weight: 100;
	margin-bottom: 10px;
}
/*Fix for paper-checkbox issue #6*/
paper-checkbox::shadow #ink {
    top: -16px;
    left: -16px;
    width: 50px;
    height: 50px;
}

paper-checkbox {
	padding: 5px;
}

.dialogSubmit {
	margin: 5px;
	background: #4285f4;
	color: #fff;
}