:host {
	display: block;
	width: 100%;
}

#personListContainer {
	width: 100%;
	max-height: calc(60px * {{rows}});
	overflow: auto;
}

h1 {
	font-size: 1.8rem;
	font-weight: 100;
	padding: 0 0 0 10px;
}

core-tooltip {
	display: inherit;
}