
core-scaffold {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

core-scaffold /deep/ #drawer {
	width: 240px;
}

core-scaffold /deep/ #main {
	left: 240px;
}

core-scaffold /deep/ core-toolbar {
	height: 56px;
	/*background-color: #5092bd ;*/
    background: #0064C0;
}

core-scaffold /deep/ core-toolbar /deep/ .toolbar-tools {
	height: 60px;
}

/*polyfill-next-selector { content: '.content'; }
::content .content {
	padding: 20px;
}*/

paper-button {
	font-size: 14px;
}

/* Card Styles */
#card {
  display: block;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  overflow: hidden;
  height: 100%;
}

#card.move-up {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.4s ease-in-out; /** Firefox **/
  -o-transition: all 0.4s ease-in-out; /** Opera **/
}

#frame {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

#frameContainer {
  height: 100%;
}

#sidebar {
  overflow: auto;
}