:host {
	display: block;
	height: 100%;
	width: 100%;
	min-width: 900px;
}

core-header-panel {
	height: 100%;
	background: #eee;
}

core-toolbar {
	background: #2D91EC;
	color: #fff;
}

#logoutButton {
	display: block;
}

#title {
	font-size: 2.2rem;
	font-weight: 100;
}

#navMenu paper-button, menu-button::shadow paper-button {
	font-size: 1rem;
	font-weight: 200;
}

#navMenu menu-button.core-selected, paper-button.core-selected {
	background: #2a56c6;
}

#navMenu core-item {
	color: #5252C5;
}

#navMenu core-item:hover, #navMenu core-item.core-selected {
	color: #05007A;
}
