
core-scaffold {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

core-scaffold /deep/ #drawer {
	width: 240px;
}

core-scaffold /deep/ #main {
	left: 240px;
}

core-scaffold /deep/ core-toolbar {
	height: 56px;
	/*background-color: #5092bd ;*/
    background: #0064C0;
}

core-scaffold /deep/ core-toolbar /deep/ .toolbar-tools {
	height: 60px;
}

/*polyfill-next-selector { content: '.content'; }
::content .content {
	padding: 20px;
}*/

paper-button {
	font-size: 14px;
}

/* REDO: Want the sidebar top toolbar to persist in scrolling. */
#sidebar {
  overflow: auto;
}

#groupElement.hidden {
  display: none;
}