paper-dialog .subtitle {
	font-weight: normal;
	font-size: 1.2rem;
}

paper-dialog::shadow h1 {
	font-weight: 100;
	margin-bottom: 10px;
}

/*Fix for paper-checkbox issue #6*/
paper-checkbox::shadow #ink {
	top: -16px;
	left: -16px;
	width: 50px;
	height: 50px;
}

paper-checkbox {
	padding: 5px;
}

.dialogSubmit {
	background: #4285f4;
	color: #fff;
}

.disabledLabel {
	color: #eaeaea;
}

paper-button.greenButton {
	background: #259b24;
	color: #fff;
}