:host {
    display: block;
    width: 100%;
    position: relative;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 300;
}
paper-radio-button {
    margin-left: 20px;
    margin-right: 10px;
}
polyfill-next-selector { shadow: '#error #ink[checked]'; }
#error::shadow #ink[checked] {
    color: #e51c23; /* Material design Red 500 */
}
polyfill-next-selector { shadow: '#warning #ink[checked]'; }
#warning::shadow #ink[checked] {
    color: #ff9800; /* Material design Orange 500 */
}
polyfill-next-selector { shadow: '#warning #ink[checked]'; }
#none::shadow #ink[checked] {
    color: #9e9e9e; /* Material design Grey 500 */
}
polyfill-next-selector{ shadow: '#error #onRadio'; }
#error::shadow #onRadio {
    background-color: #e51c23; /* Material design Red 500 */
}
polyfill-next-selector{ shadow: '#warning #onRadio'; }
#warning::shadow #onRadio {
    background-color: #ff9800; /* Material design Orange 500 */
}
polyfill-next-selector{ shadow: '#none #onRadio'; }
#none::shadow #onRadio {
    background-color: #9e9e9e; /* Material design Grey 500 */
}
core-collapse{
    margin-left: 50px;
}
polyfill-next-selector{ shadow: '#cmdToggleCode core-icon'}
#cmdToggleCode::shadow core-icon {
    /* cmdToggleCode's icon is the content expander symbol rotated 90 deg */
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

/*@media (min-width: 690px) {
    paper-radio-group {
        width: 50%;
    }
    paper-radio-button {
        margin-top: 10px;
        margin-left: 20%;
    }
}*/