.sidebar-element
{
    margin: 0 1rem;
}

.main
{
    margin: 1em 4em;
    width: 100%;
}

.ticker-comments
{
  margin: 0.5rem 1.5rem;
}

.ticker-comments
{
  margin: 0.5rem 1.5rem;
}

.ticker-comments
{
  margin: 0.5rem 1.5rem;
}
