/* vim: set shiftwidth=2 tabstop=2 softtabstop=2 expandtab textwidth=72 spell spelllang=en_gb : */
paper-checkbox::shadow #ink {
  top: -16px;
  left: -16px;
  width: 50px;
  height: 50px;
}

paper-checkbox {
  /* Firefox/IE compatibility */
  width: 15px;
  height: 15px;
}

paper-button {
  margin: 20px;
  width: 10em;
  height: 35px; /* Firefox/IE compatibility */
}

paper-button.green {
  background: #009933;
  color: #fff;
}

paper-button.red {
  background: #e51c23;
  color: #fff;
}

paper-button.bluegrey {
  background: #607d8b;
  color: #fff;
}

paper-toggle-button {
  margin-top: 23px;
  margin-left: 8px;
}
