/* vim: set shiftwidth=2 tabstop=2 softtabstop=2 expandtab textwidth=72 spell spelllang=en_gb : */
.checkboxContainer {
  padding: 20px 20px 20px 0;
  margin: 0;
}
h4 {
  padding: 0;
  margin-bottom: -10px;
}
#mainContainer {
  margin-top: 0;
  padding: 0 20px;
}
paper-checkbox::shadow #ink {
  top: -16px;
  left: -16px;
  width: 50px;
  height: 50px;
}
paper-checkbox {
  /* Firefox/IE compatibility */
  width: 15px;
  height: 15px;
}
paper-button {
  margin: 20px;
  width: 10em;
  height: 35px; /* Firefox/IE compatibility */
}
paper-button.colored {
  background: #009933;
  color: #fff;
}
paper-toggle-button {
  margin-top: 23px;
  margin-left: 8px;
}
#cmdRestoreDefaults {
  width: 165px;
  margin: 0;
  font-size: 15px;
}
#day, #month {
  width: 50px;
}
#year {
  width: 100px;
}

#sidebar
{
  width: 15%;
}
