paper-button {
    width: 100%;
    background: #4285f4;
    color: #fff;
}

paper-progress {
    width: 100%;
}

.error {
    text-align: center;
    color: #757575;
}

#progressCaption {
    color: #757575;
}