paper-button {
    width: 100%;
    background: #4285f4;
    color: #fff;
}

paper-progress {
    width: 100%;
}

polyfill-next-selector {shadow: 'paper-progress #activeProgress';}
paper-progress::shadow #activeProgress {
    background-color: #4285f4;
}

.error {
    text-align: center;
    color: #757575;
}

#progressCaption {
    color: #757575;
}

.spacer {
    width: 10px;
}

