.user-label {
    width: 135px;
    min-width: 135px;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tick-label {
    width: 50px;
    min-width: 50px;
    margin: 0;
    padding: 5px;
}

/*#horizontalDropShadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);

    background-color: #ff0000;
}*/

.horizontalDropShadow {
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    height: 6px;
    min-height: 6px;
    margin-top: -6px;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}

#dropTest {
    background: #008000;
    min-height: 20px;
    min-width: 100px;
}

.rotated {
    /* Webkit */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE (it doesn't hurt to try...) */
    -ms-transform: rotate(-90deg);
}